body{
    font-family: tahoma;
}
.ConGen{
    background: #F4F4F4;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.cuerpo{
    color: black;
    background: #C6D94D;
    width: 70%;
    height: auto;
    margin: 30px 5px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}
.Titulo{
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    justify-content: center;
} 
.linea {
    background: black;
    width: 100%;
    max-width: 100%;
    padding: 1px;
    margin: 20px auto 10px auto;
}
.imagen{
    background: none;
    margin: 20px 0px; 
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;    
}
.barra{
    width: 100%;
}
.gmail{
    width: auto;
    height: 300px;
}
.gmail2{
    width: auto;
    height: 400px;
}
.cpu{
    width: auto;
    height: 300px;
}
h3{
    margin: 50px 0px 5px 0px;
}
dl{
    margin: 5px 20px;
}
dt{
    margin: 0px 0px 5px 0px;
}
dd{
    line-height: 1em;
    margin: 10px 0px 5px 50px;
}
.conBotons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.botons{
    width: auto;
    margin: 50px 10px 10px 10px;
    background: #e9f2a4;
    font-family: inherit;
    padding: 0.6em 0px 0.6em 0px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}
.botons a{
    background: none;
    color: black;
    padding: 1.2em 1.3em;
    text-decoration: none;
}

footer{
    font-family: tahoma;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}