*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../Imagenes/Fondo.jpg);
}
.form-register{
    width: 400px;
    background: #C6D94D;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: tahoma;
    box-shadow: 7px 13px 37px #000;
}
.form-register h1{
    font-size: 50px;
    padding: 0px 25px;
    color: black;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    color: black;
}
.controls{
    width: 100%;
    background: #e9f2a4;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: calibri;
    font-size: 18px;
    font-weight: 900;
    color: black;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-register a:hover{
    color: black;
    text-decoration: underline;
    text-decoration: none;
}
.botons{
    width: 100%;
    background: #a5be24;
    font-family: inherit;
    margin: 10px 0px;
    padding: 0.6em 0px 0.6em 0px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    text-decoration: none;
}
.botons a{
    background: none;
    color: black;
    padding: 0.7rem 4.6rem;
    text-decoration: none;
}
.botons-toRe{
    width: 100%;
    background: #a5be24;
    font-family: inherit;
    margin: 10px 0px;
    padding: 0.6em 0px 0.6em 0px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    text-decoration: none;
}
.botons-toRe a{
    background: none;
    color: black;
    padding: 0.6em 2.3em;
    text-decoration: none;
}










