body{ 
    font-family: tahoma;
}
/*contenedor general*/
.congen{
    background-color: cadetblue;
}
/*Menu superior*/
.menSup{
    font-family: didot;
    color: white;
    font-size: 1.5rem;
    line-height: 1.6em;
    margin: 0;
}
/*Contenedor para el contenido superior en el cuerpo*/
.conSup{
    background: #D0D2C1;
    color: black;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*Contenedor de usuario*/
.usuario{
    background: gray;
    width: 50%;
    height: auto;
}
.usuario h1{
    width: 61%;
    height: auto;
    padding: 5px;
    margin: auto;
}
.fotoUsu{
    width: 40%;
    height: auto;
    margin: 5px;
} 
.usuario p{
    background: white;
    width: 55%;
    height: auto;
    font-size: 2rem;
    line-height: 1.5em;
    margin: 5px;
    float: right;
}
/*contenedor a la derecha del de usuario*/
.conD{
    background: gray;
    color: black;
    width: 40%;
    height: auto;
    position: relative;
}

/*Contenedor inferior para cursos*/
.conIn{
    background: #E05F5F;
    color: black;
    width: 100%;
    height: 400px;
}
.conIn h2{
    background: white;
    width: 95%;
    height: 50px;
    margin: auto;
    font-size: 2rem;
    line-height: 1.5em;
}
/*Contenedores de los cursos*/
.conCur{ 
    background: red;
    width: 95%;
    height: 310px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.curso{
    background-color: darkviolet;
    width: 230px;
    height: 300px; 
    margin: 5px 20px;
    font-size: 1rem;
    justify-content: space-evenly;
    text-align: center;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}
.imag{
    width: 200px;
    max-width: 200px;
    margin: 5px;
}
.botons{
    background: #a5be24;
    font-family: inherit;
    padding: 0.6em 0px 0.6em 0px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}
.botons a{
    background: none;
    padding: 0.6rem 1.3rem;
    color: black;
    text-decoration: none;
}

footer{
    font-family: tahoma;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}



 







